<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Page de connexion</title>
</head>
<body>
    <h1 class="text-center" id="headTitre"><font class="blue">Prog</font><font class="black">web</font><font class="red">Project</font></h1>
    <div class="text-center">
        <form action="/add">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10" >
                    <div>
                        <input type="text" name="username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10" >
                    <div>
                        <input type="text" name="password">
                    </div>
                </div>
            </div>
            <input type="submit" name="connexion" value="Connexion">
            <a href="/user/Page_inscription">Inscription</a>
        </form>
    </div>
</body>
</html>