<!DOCTYPE html>
<!--<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>-->
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="h-100 row allign-items-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>Créer un Sondage</h2>
            <form method="post" th:action="@{/sondage/add}">
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Libellé du sondage" name="libeller" th:value="*{libeller}" required>
                </div>

                <div class="form-group">
                    <input type="date" class="form-control"  placeholder="Date rendez-vous" name="dateRDV" th:value="*{dateRDV}" required>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Lieu de rendez-vous" name="lieuRDV" th:value="*{lieuRDV}" required>
                </div>
                <input type="hidden" name="user_fk" th:value="${user.id}" >

                <p th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></p>
                <div class="form-group">
                    <input type="submit" value="Créer">
                </div>
            </form>
        </div>

    </div>

    <div class="h-100 row allign-items-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Libellé</th>
                    <th scope="col">Date RDV</th>
                    <th scope="col">Lieu RDV</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="Sondage : ${user.sondages}">
                    <td th:text="${Sondage.libeller}"></td>
                    <td th:text="${Sondage.dateRDV}"></td>
                    <td th:text="${Sondage.lieuRDV}"></td>
                    <th scope="row" >
                        <a th:href="@{/sondage/delete/{id}/{idUser}(id = ${Sondage.idSondage},idUser = ${user.id})}" data-toggle="modal" data-target="action" title="Supprimer" class="ml-1 btn btn-sm btn-danger supp">
                            <i class="fa fa-trash"></i>
                        </a>
                    </th>
                    <th scope="row" >
                        <a th:href="@{/sondage/showPageUpdate/{id}/{idUser}(id = ${Sondage.idSondage},idUser = ${user.id})}" class="ml-1 btn btn-sm btn-success">
                            <i class="fa fa-update"></i>
                        </a>
                    </th>
                </tr>

                </tbody>
            </table>
         </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<script th:src="@{/js/custom.js}"></script>
</body>

</html>

